In [1]:
import pandas as pd
import numpy as np

In [143]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
# with open('LiterallyWikidata/files_needed/attribute.txt','r') as fr:
#     attributes = [line.strip() for line in fr] 
# dict_att_2_idx = dict(zip(attributes, np.arange(0, len(attributes), 1)))

## constraint needed:
pop_idx = dict_att_2_idx ['P1082']
gdp = dict_att_2_idx ['P4010']
nominal_gdp = dict_att_2_idx ['P2131']
nominal_gdp_per = dict_att_2_idx ['P2132']
gdp_per = dict_att_2_idx ['P2299']
date_of_birth = dict_att_2_idx ['P569']
date_of_death = dict_att_2_idx ['P570']
area = dict_att_2_idx['P2046']
work_end = dict_att_2_idx['P2032']
work_start = dict_att_2_idx['P2031']
height= dict_att_2_idx['P2048']
Latitude = dict_att_2_idx['P625_Latitude']
Longtiude = dict_att_2_idx['P625_Longtiude']
list_var=[pop_idx,gdp,gdp_per,date_of_birth,date_of_death,area,work_start,work_end,height,Latitude,Longtiude] 
print('pop_idx,gdp,gdp_per,date_of_birth,date_of_death,area,work_start,work_end,height,Latitude,Longtiude',list_var)
def read_result (filepath):
    return pd.read_csv(filepath)

def var_r_df (df,var=list_var):
    #還可以增加
    list_var = var
    df = df[df.a.isin(list_var)].sort_values(by='a')
    df['mae']=abs(df.pred_h-df.target_h)
    df['square_mae']=np.square(abs(df.pred_h-df.target_h))
    return df

NameError: name 'dict_att_2_idx' is not defined

In [2]:
var_name=["coordinate location(latitude)","coordinate location(logtitude)","height","date of birth","date of death","work period (start)","work period (end)", "area","population","PPP GDP per capita","GDP (PPP)"]
list_var=['P625_Longtiude','P625_Latitude','P2048','P569','P570','P2031','P2032','P2046','P1082','P2299','P4010']

In [3]:
attri_data_train = pd.read_csv('/projekte/tcl/tclext/kgc/LiterallyWikidata/files_needed/train_attri_data_minmax.csv')
attri_data = pd.read_csv('/projekte/tcl/tclext/kgc/LiterallyWikidata/files_needed/valid_attri_data_minmax.csv')

In [6]:
# 紀錄有幾筆
s = attri_data["a"].value_counts()
s_t = attri_data_train["a"].value_counts()

In [8]:
#train/test筆數
s[s.index.isin(list_var)]
s_t[s_t.index.isin(list_var)]

P625_Latitude     19961
P625_Longtiude    19961
P2046             17401
P1082             17157
P569              12746
P2048              6227
P2031              5639
P570               4039
P2032              2642
P4010               125
P2299               124
Name: a, dtype: int64

In [4]:
df= pd.read_csv('./models_0106/preds_result_ea_2layer_b32')

In [5]:
df

          id    pred_y      target_y
0          0  0.693544  6.978149e-01
1          1  0.028459  2.627804e-04
2          2  0.740083  7.123011e-01
3          3  0.650754  8.688086e-01
4          4  0.008630  1.694772e-04
...      ...       ...           ...
29626  29626  0.917835  7.204698e-01
29627  29627  0.016435  3.519147e-29
29628  29628  0.074214  6.701940e-02
29629  29629  0.026312  2.014778e-12
29630  29630  0.082585  1.000000e-02

[29631 rows x 3 columns]

In [4]:
df= pd.read_csv('exp_pretrained/predicted_result/model_120_32_att_head_changeinit.csv')

In [6]:
df['true_v']=attri_data['v']

In [7]:
df['a']=attri_data['a']

In [9]:
df

         idx         e                a    pred_h      target_h        true_v
0          0     Q3376   P1334_Latitude  0.341228  6.978149e-01  4.606556e+01
1          1   Q170446            P1082  0.014403  2.627804e-04  1.094284e+06
2          2   Q908156    P625_Latitude  0.366135  7.123011e-01  3.821420e+01
3          3      Q423  P1332_Longtiude  0.260632  8.688086e-01  1.299300e+02
4          4   Q611033            P2048  0.012723  1.694772e-04  1.730000e+00
...      ...       ...              ...       ...           ...           ...
29626  29626     Q1754             P571  0.442473  7.204698e-01  1.187000e+03
29627  29627   Q531135            P2067  0.028394  3.519147e-29  7.000000e+01
29628  29628  Q1689057            P6546  0.085115  6.701940e-02  2.680000e+02
29629  29629    Q46246            P2046  0.017078  2.014778e-12  1.227000e+07
29630  29630   Q583267            P6509  0.049582  1.000000e-02  9.000000e+00

[29631 rows x 6 columns]

In [15]:
attri_data_train

,e,a,v,name_e,name_a,ent_type,minmax
0,Q593336,P625_Latitude,4.315194e+01,Poumarous,coordinate location(latitude),Q484170,7.397330e-01
1,Q511127,P625_Longtiude,3.301111e+00,Nant,coordinate location(logtitude),Q484170,5.068894e-01
2,Q59293,P1332_Latitude,4.329426e+01,Porto Sant'Elpidio,coordinates of northernmost point,Q747074,6.482318e-01
3,Q100092,P1082,6.460000e+03,San Cesario sul Panaro,population,Q747074,1.551299e-06
4,Q111736,P2046,1.768000e+07,Sarezzo,area,Q747074,2.903120e-12
...,...,...,...,...,...,...,...
237041,Q128925,P2067,7.500000e+01,Nicolai Boilesen,mass,Q5,3.770587e-29
237042,Q6081,P625_Latitude,5.183333e+01,Salzlandkreis,coordinate location(latitude),Q17302772,7.879630e-01
237043,Q7612645,P2048,1.880000e+00,Steve Giatzoglou,height,Q5,1.848563e-04
237044,Q7234759,P569,1.948000e+03,Ken Murray,date of birth,Q5,9.741294e-01
237045,Q21979713,P2046,2.375000e+07,Ventalon-en-Cévennes,area,Q484170,3.899836e-12

In [19]:
df[df.a=='population']

          id  pred_y  target_y         true_v           a         pred_v
1          1 0.03504   0.00026  1094284.00000  population 13000455.86000
13        13 0.03071   0.02084 86790570.00000  population 11393923.09300
27        27 0.03530   0.00000     1703.00000  population 13096184.99000
35        35 0.02547   0.00008   318416.00000  population  9447989.13800
70        70 0.02743   0.00000     8459.00000  population 10178099.33000
...      ...     ...       ...            ...         ...            ...
29543  29543 0.03306   0.00000       56.00000  population 12266139.27000
29582  29582 0.03164   0.00000     9863.00000  population 11739731.08000
29583  29583 0.02223   0.00000     3465.00000  population  8245947.65400
29590  29590 0.02056   0.00001    22945.00000  population  7626885.18200
29594  29594 0.02001   0.00000      500.00000  population  7422270.52000

[2144 rows x 6 columns]

In [8]:
df['e']=attri_data['e']

In [15]:
attri_data_train

,e,a,v,name_e,name_a,ent_type,minmax
0,Q593336,P625_Latitude,4.315194e+01,Poumarous,coordinate location(latitude),Q484170,7.397330e-01
1,Q511127,P625_Longtiude,3.301111e+00,Nant,coordinate location(logtitude),Q484170,5.068894e-01
2,Q59293,P1332_Latitude,4.329426e+01,Porto Sant'Elpidio,coordinates of northernmost point,Q747074,6.482318e-01
3,Q100092,P1082,6.460000e+03,San Cesario sul Panaro,population,Q747074,1.551299e-06
4,Q111736,P2046,1.768000e+07,Sarezzo,area,Q747074,2.903120e-12
...,...,...,...,...,...,...,...
237041,Q128925,P2067,7.500000e+01,Nicolai Boilesen,mass,Q5,3.770587e-29
237042,Q6081,P625_Latitude,5.183333e+01,Salzlandkreis,coordinate location(latitude),Q17302772,7.879630e-01
237043,Q7612645,P2048,1.880000e+00,Steve Giatzoglou,height,Q5,1.848563e-04
237044,Q7234759,P569,1.948000e+03,Ken Murray,date of birth,Q5,9.741294e-01
237045,Q21979713,P2046,2.375000e+07,Ventalon-en-Cévennes,area,Q484170,3.899836e-12

In [12]:
df

         idx         e                a    pred_h      target_h        true_v
0          0     Q3376   P1334_Latitude  0.341228  6.978149e-01  4.606556e+01
1          1   Q170446            P1082  0.014403  2.627804e-04  1.094284e+06
2          2   Q908156    P625_Latitude  0.366135  7.123011e-01  3.821420e+01
3          3      Q423  P1332_Longtiude  0.260632  8.688086e-01  1.299300e+02
4          4   Q611033            P2048  0.012723  1.694772e-04  1.730000e+00
...      ...       ...              ...       ...           ...           ...
29626  29626     Q1754             P571  0.442473  7.204698e-01  1.187000e+03
29627  29627   Q531135            P2067  0.028394  3.519147e-29  7.000000e+01
29628  29628  Q1689057            P6546  0.085115  6.701940e-02  2.680000e+02
29629  29629    Q46246            P2046  0.017078  2.014778e-12  1.227000e+07
29630  29630   Q583267            P6509  0.049582  1.000000e-02  9.000000e+00

[29631 rows x 6 columns]

In [16]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
def v_scale(attdf):
    scaler = MinMaxScaler()
    minmax_scaler = scaler.fit(attdf.v.to_numpy().reshape(-1,1))
    return minmax_scaler
alist=list(attri_data_train["a"].unique())
for a_name in alist:
    attdf = df[df["a"]==a_name]
    attdf['pred_y']= v_scale(attri_data_train[attri_data_train['a']==a_name]).inverse_transform(attdf.pred_h.to_numpy().reshape(-1,1))
    df.loc[attdf.index,'pred_v']=attdf['pred_y']

/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [17]:
df['mae']=abs(df['pred_v'] - df['true_v'])
df['mae'].describe()

count    2.963100e+04
mean     8.823350e+26
std      6.217304e+27
min      1.526874e-03
25%      7.423304e+01
50%      2.323461e+02
75%      9.115955e+03
max      1.130839e+29
Name: mae, dtype: float64

In [12]:
#list_var=['P625_Longtiude','P625_Latitude','P2048','P569','P570','P2031','P2032','P2046','P1082','P2299','P4010']
def var_mae(att):
    attdf= df[df['a']==att]
    attdf['mae']=abs(attdf['true_v']-attdf['pred_v'])
    return np.mean(attdf['mae'])

In [ ]:
attdf['mae']=abs(attdf['true_v']-attdf['pred_v'])

In [14]:
for var in list_var:
    print(var_mae(var))

17.78959504856401
6.249617991502992
115.65544329638426
58.39952075561841
68.31007542304947
20.813609703007067
17.31484668578786
1.2197058476573269e+17
70225020.51540582
10465.325924669398
1821925727681.3474

/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [42]:
df

,id,pred_y,target_y,true_v,a,pred_v
0,0,0.688842,6.978149e-01,4.606556e+01,P1334_Latitude,4.498853e+01
1,1,0.035042,2.627804e-04,1.094284e+06,P1082,1.459223e+08
2,2,0.704334,7.123011e-01,3.821420e+01,P625_Latitude,3.678009e+01
3,3,0.506117,8.688086e-01,1.299300e+02,P1332_Longtiude,2.371303e+00
4,4,0.028743,1.694772e-04,1.730000e+00,P2048,2.804228e+02
...,...,...,...,...,...,...
29626,29626,0.882271,7.204698e-01,1.187000e+03,P571,1.669168e+03
29627,29627,0.029396,3.519147e-29,7.000000e+01,P2067,5.845636e+28
29628,29628,0.086587,6.701940e-02,2.680000e+02,P6546,3.456618e+02
29629,29629,0.030773,2.014778e-12,1.227000e+07,P2046,1.874074e+17
29630,29630,0.092630,1.000000e-02,9.000000e+00,P6509,7.510371e+01

In [54]:
# birth should above 1593
birth=df[df['a']=='P569']

In [55]:
# death
death=df[df['a']=='P570']

In [58]:
df_merge= birth.merge(death, how='inner', on = 'e')

In [62]:
# death year < birth year
df_merge[['pred_v_x','pred_v_y']]

       pred_v_x     pred_v_y
0   1899.026444  1880.992980
1   1839.960926  1826.284322
2   1837.622351  1820.546758
3   1848.452231  1844.032992
4   1876.963478  1848.307868
5   1885.198930  1888.185269
6   1857.293819  1859.578222
7   1887.296486  1828.827924
8   1843.239497  1794.587104
9   1826.627048  1810.132434
10  1872.562784  1837.946107
11  1842.312485  1828.151780
12  1888.615247  1882.929765
13  1890.886547  1873.987726
14  1847.667045  1817.252131
15  1882.573529  1878.779526
16  1839.280661  1836.907402
17  1876.557136  1868.428615
18  1880.141690  1823.203827
19  1903.434495  1853.508161
20  1862.781722  1830.465123
21  1806.639407  1764.660184
22  1885.656829  1854.396545
23  1871.038661  1828.230564
24  1800.641969  1800.184124
25  1900.359577  1841.712083
26  1867.116488  1855.885136
27  1842.344565  1871.416808
28  1860.445700  1832.775281
29  1836.824180  1793.018196
30  1848.023297  1847.920519
31  1876.534604  1843.813982
32  1870.788959  1855.036393
33  1847.249849  1861.247477
34  1841.894606  1825.003611
35  1835.192663  1825.387874
36  1928.893637  1866.896840
37  1844.189624  1827.677325
38  1869.700685  1849.154959
39  1866.833480  1864.611570
40  1866.025762  1839.439158
41  1874.664440  1871.420790
42  1864.548814  1824.123291
43  1840.595402  1843.678196
44  1838.533082  1841.628959
45  1878.431180  1883.708644
46  1816.374641  1835.426695
47  1847.014820  1825.236439
48  1850.277311  1852.767310

In [17]:
df[df['a']=='P2048']

         idx        e      a    pred_h  target_h     v     pred_v
4          4   8117.0  P2048  0.012723  0.000169  1.73  12.797763
24        24   9523.0  P2048  0.001190  0.000177  1.80   1.266363
26        26  24183.0  P2048  0.004270  0.000169  1.73   4.345667
95        95   1917.0  P2048  0.039115  0.000187  1.90  39.187771
163      163  34517.0  P2048  0.002110  0.000189  1.92   2.186318
...      ...      ...    ...       ...       ...   ...        ...
29528  29528   8390.0  P2048  0.007564  0.000180  1.83   7.639706
29547  29547  22078.0  P2048  0.015000  0.000167  1.71  15.075270
29577  29577  41705.0  P2048  0.015054  0.000187  1.90  15.129107
29611  29611  23215.0  P2048 -0.000035  0.000178  1.81   0.041164
29625  29625  33736.0  P2048 -0.006846  0.000214  2.16  -6.769324

[778 rows x 7 columns]

In [64]:
df[df['pred_y']<0.0]

,id,pred_y,target_y,true_v,a,pred_v,e
6950,6950,-0.004641,2.256023e-04,9.394650e+05,P1082,-1.932566e+07,Q501602
8469,8469,-0.000432,5.175043e-08,3.151601e+11,P2046,-2.628064e+15,Q38272
8999,8999,-0.000444,1.383325e-11,8.424450e+07,P2046,-2.703022e+15,Q79638
9531,9531,-0.003685,6.748607e-05,2.810290e+05,P1082,-1.534464e+07,Q502348
12719,12719,-0.001930,1.770114e-05,7.371200e+04,P1082,-8.037000e+06,Q406015
14011,14011,-0.004332,1.197176e-08,7.290800e+10,P2046,-2.638046e+16,Q1965
14887,14887,-0.001861,8.293924e-13,5.051000e+06,P2046,-1.133552e+16,Q1734831
16882,16882,-0.002498,4.586658e-08,1.910000e+02,P1082,-1.040429e+07,Q530454
18016,18016,-0.005102,7.799671e-13,4.750000e+06,P2046,-3.106978e+16,Q62218

In [91]:
mean = attri_data_train.groupby('a').v.agg('mean')

In [110]:
len(mean)

86

In [111]:
dic = {mean.index[i]:mean[i] for i in range(len(mean))}

In [112]:
attri_data['pred_mean'] = attri_data.a.map(dic)

In [114]:
attri_data['mae'] = abs(attri_data['pred_mean']-attri_data['v'])
attri_data['rmse'] = np.sqrt(attri_data['pred_mean']-attri_data['v'])**2)

In [140]:
attri_data['mae']

0                                 3.46243
1                             81133.21822
2                                 3.02890
3                               118.35780
4                                 3.59811
                       ...
29626                           673.24820
29627   279016516793461476226498560.00000
29628                           135.97788
29629               353579465812408.06250
29630                            70.37965
Name: mae, Length: 29631, dtype: float64

In [139]:
math.sqrt(abs(attri_data['pred_mean']-attri_data['v'])**2),astype(float)

TypeError: cannot convert the series to <class 'float'>

In [135]:
attri_data

,e,a,v,name_e,name_a,ent_type,minmax,pred_mean,mae,rmse
0,Q3376,P1334_Latitude,46.06556,Trento,coordinates of easternmost point,Q747074,0.69781,42.60313,3.46243,3.46243
1,Q170446,P1082,1094284.00000,Sumy Oblast,population,Q3348196,0.00026,1013150.78178,81133.21822,81133.21822
2,Q908156,P625_Latitude,38.21420,Namboku Line,coordinate location(latitude),Q15079663,0.71230,41.24310,3.02890,3.02890
3,Q423,P1332_Longtiude,129.93000,North Korea,coordinates of northernmost point,Q6256,0.86881,11.57220,118.35780,118.35780
4,Q611033,P2048,1.73000,José Antonio Castro,height,Q5,0.00017,5.32811,3.59811,3.59811
...,...,...,...,...,...,...,...,...,...,...
29626,Q1754,P571,1187.00000,Stockholm,inception,Q707813,0.72047,1860.24820,673.24820,673.24820
29627,Q531135,P2067,70.00000,Richard Witschge,mass,Q5,0.00000,279016516793461476226498560.00000,279016516793461476226498560.00000,279016516793461476226498560.00000
29628,Q1689057,P6546,268.00000,Jim Campbell,penalty minutes in career,Q5,0.06702,403.97788,135.97788,135.97788
29629,Q46246,P2046,12270000.00000,Cazzano di Tramigna,area,Q747074,0.00000,353579478082408.06250,353579465812408.06250,353579465812408.06250
29630,Q583267,P6509,9.00000,Juha Lind,total goals in career,Q5,0.01000,79.37965,70.37965,70.37965

In [125]:
mean_mae = attri_data.groupby('a').mae.agg('mean')
mean_rmse = attri_data.groupby('a').rmse.agg('mean')

In [144]:
mean_mae[mean_mae.index.isin(list_var)]

a
P1082                    1733933.608
P2031                         19.756
P2032                         18.775
P2046            353949799293925.312
P2048                          5.419
P2299                      15605.102
P4010              1538337046513.800
P569                          49.680
P570                          93.635
P625_Latitude                  7.348
P625_Longtiude                39.628
Name: mae, dtype: float64

In [131]:
mean_rmse[mean_rmse.index.isin(list_var)]

a
P1082                    1733933.60799
P2031                         19.75571
P2032                         18.77460
P2046            353949799293925.31250
P2048                          5.41859
P2299                      15605.10227
P4010              1538337046513.80029
P569                          49.67978
P570                          93.63527
P625_Latitude                  7.34758
P625_Longtiude                39.62782
Name: rmse, dtype: float64

In [29]:

# print(df[:20])
# print('diff a len', len(df.a.unique()))
df=var_r_df(df)
#print(df[:40])
#print(df.a.value_counts())
df_preds=df[df['pred_h']<0.0]
df_a25=df[df['a']==25]
#print('number of pred == 1 is ',len(df_preds))
print(df_preds)
#print(df[:10])
print(f'------------preds a mae--------------------')
print(df.groupby('a').mae.agg('mean'))
print(f'------------preds a rmse--------------------')
square_v = df.groupby('a').square_mae.agg('mean')
print(np.sqrt(square_v))

233.0    2496
226.0    2495
2.0      2175
0.0      2144
195.0    1593
4.0       778
200.0     705
196.0     505
201.0     330
20.0       16
25.0       16
Name: a, dtype: int64
         idx        e      a    pred_h  target_h       mae  square_mae
19953  19953  28058.0    2.0 -0.972328 -0.006846  0.965481    0.932154
8364    8364  55757.0    2.0 -0.949305 -0.006852  0.942453    0.888218
20137  20137  11063.0    2.0 -0.052527 -0.006852  0.045675    0.002086
16424  16424   5423.0    2.0 -0.975806 -0.006852  0.968954    0.938872
13639  13639  47234.0    2.0 -0.976212 -0.006852  0.969360    0.939659
...      ...      ...    ...       ...       ...       ...         ...
9039    9039  14443.0  233.0 -0.935885 -1.691451  0.755567    0.570881
25369  25369  41456.0  233.0 -0.664995  0.234039  0.899034    0.808262
21964  21964  44001.0  233.0 -0.538297  0.195966  0.734263    0.539142
25351  25351  34873.0  233.0 -0.952279 -1.553279  0.601000    0.361201
2          2  23046.0  233.0 -0.515147  0.175239  0.690387    0.476634

[4810 rows x 7 columns]
------------preds a mae--------------------
a
0.0      1.041543
2.0      0.879488
4.0      0.690150
20.0     1.143733
25.0     2.023631
195.0    0.695148
196.0    0.756382
200.0    0.690643
201.0    0.787440
226.0    0.957390
233.0    1.050784
Name: mae, dtype: float64
------------preds a rmse--------------------
a
0.0      1.359616
2.0      0.891211
4.0      0.747391
20.0     1.234514
25.0     2.753384
195.0    1.135832
196.0    1.361828
200.0    0.953192
201.0    1.112925
226.0    1.232856
233.0    1.236392
Name: square_mae, dtype: float64

In [25]:
valid_preds = pd.read_csv('/projekte/tcl/tclext/kgc/models_minmax/preds_result_model_minmax')

In [26]:
attri_data.loc[:,'pred_y'] = valid_preds['pred_y']

In [27]:
P1082 = attri_data[attri_data['a']=='P1082']

In [28]:
P1082

,e,a,v,name_e,name_a,ent_type,minmax,mae,pred_y
1,Q170446,P1082,1094284.0,Sumy Oblast,population,Q3348196,2.627804e-04,0.032233,0.032496
13,Q974,P1082,86790570.0,Democratic Republic of the Congo,population,Q6256,2.084182e-02,0.017371,0.038213
27,Q53284,P1082,1703.0,Moggio Udinese,population,Q747074,4.089570e-07,0.021095,0.021096
35,Q38022,P1082,318416.0,St. Louis,population,Q1549591,7.646415e-05,0.022218,0.022295
70,Q733833,P1082,8459.0,Pibrac,population,Q484170,2.031337e-06,0.020876,0.020878
...,...,...,...,...,...,...,...,...,...
29543,Q1368075,P1082,56.0,Suc-et-Sentenac,population,Q484170,1.344779e-08,0.027591,0.027591
29582,Q53872,P1082,9863.0,Crosia,population,Q747074,2.368493e-06,0.022213,0.022216
29583,Q507904,P1082,3465.0,Floß,population,Q562061,8.320822e-07,0.019395,0.019396
29590,Q23046289,P1082,22945.0,canton of Les Corbières Méditerranée,population,Q18524218,5.509993e-06,0.017403,0.017408
29594,Q101291,P1082,500.0,Olmo al Brembo,population,Q747074,1.200696e-07,0.036527,0.036527

In [29]:
P1082.loc[:,'pred_value'] = P1082['pred_y'] * 1.400000e+21

/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [30]:
P1082

,e,a,v,name_e,name_a,ent_type,minmax,mae,pred_y,pred_value
1,Q170446,P1082,1094284.0,Sumy Oblast,population,Q3348196,2.627804e-04,0.032233,0.032496,4.549382e+19
13,Q974,P1082,86790570.0,Democratic Republic of the Congo,population,Q6256,2.084182e-02,0.017371,0.038213,5.349797e+19
27,Q53284,P1082,1703.0,Moggio Udinese,population,Q747074,4.089570e-07,0.021095,0.021096,2.953376e+19
35,Q38022,P1082,318416.0,St. Louis,population,Q1549591,7.646415e-05,0.022218,0.022295,3.121241e+19
70,Q733833,P1082,8459.0,Pibrac,population,Q484170,2.031337e-06,0.020876,0.020878,2.922918e+19
...,...,...,...,...,...,...,...,...,...,...
29543,Q1368075,P1082,56.0,Suc-et-Sentenac,population,Q484170,1.344779e-08,0.027591,0.027591,3.862780e+19
29582,Q53872,P1082,9863.0,Crosia,population,Q747074,2.368493e-06,0.022213,0.022216,3.110193e+19
29583,Q507904,P1082,3465.0,Floß,population,Q562061,8.320822e-07,0.019395,0.019396,2.715449e+19
29590,Q23046289,P1082,22945.0,canton of Les Corbières Méditerranée,population,Q18524218,5.509993e-06,0.017403,0.017408,2.437130e+19
29594,Q101291,P1082,500.0,Olmo al Brembo,population,Q747074,1.200696e-07,0.036527,0.036527,5.113777e+19

In [15]:
attri_data['v'].describe()

count    2.963100e+04
mean     4.725741e+16
std      8.133077e+18
min     -7.000000e+02
25%      1.531864e+01
50%      7.000000e+01
75%      1.975000e+03
max      1.400000e+21
Name: v, dtype: float64

In [32]:
P1082.loc[:,'mae']= abs(P1082['pred_value']-P1082['v'])

/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [34]:
P1082

,e,a,v,name_e,name_a,ent_type,minmax,mae,pred_y,pred_value
1,Q170446,P1082,1094284.0,Sumy Oblast,population,Q3348196,2.627804e-04,4.549382e+19,0.032496,4.549382e+19
13,Q974,P1082,86790570.0,Democratic Republic of the Congo,population,Q6256,2.084182e-02,5.349797e+19,0.038213,5.349797e+19
27,Q53284,P1082,1703.0,Moggio Udinese,population,Q747074,4.089570e-07,2.953376e+19,0.021096,2.953376e+19
35,Q38022,P1082,318416.0,St. Louis,population,Q1549591,7.646415e-05,3.121241e+19,0.022295,3.121241e+19
70,Q733833,P1082,8459.0,Pibrac,population,Q484170,2.031337e-06,2.922918e+19,0.020878,2.922918e+19
...,...,...,...,...,...,...,...,...,...,...
29543,Q1368075,P1082,56.0,Suc-et-Sentenac,population,Q484170,1.344779e-08,3.862780e+19,0.027591,3.862780e+19
29582,Q53872,P1082,9863.0,Crosia,population,Q747074,2.368493e-06,3.110193e+19,0.022216,3.110193e+19
29583,Q507904,P1082,3465.0,Floß,population,Q562061,8.320822e-07,2.715449e+19,0.019396,2.715449e+19
29590,Q23046289,P1082,22945.0,canton of Les Corbières Méditerranée,population,Q18524218,5.509993e-06,2.437130e+19,0.017408,2.437130e+19
29594,Q101291,P1082,500.0,Olmo al Brembo,population,Q747074,1.200696e-07,5.113777e+19,0.036527,5.113777e+19

In [33]:
np.mean(attri_data['mae'])

0.04735520937117082