In [2]:
import pandas as pd 
import numpy as np

In [52]:
#df = pd.read_csv('LiterallyWikidata/files_needed/train_attri_data_minmax.csv')
df = pd.read_csv('LiterallyWikidata/files_needed/valid_attri_data_minmax.csv')

In [9]:
df_rel = pd.read_csv('LiterallyWikidata/LitWD48K/train.txt',sep='\t',names=['e','a','v'])

In [20]:
id2ent = {}
with open('LiterallyWikidata/Entities/entity_labels_en.txt',encoding="utf-8") as f:
    for line in f:
        k, v = line.strip().split('\t')
        id2ent[k.strip()] = v.strip()

In [25]:
id2att = {}
with open('LiterallyWikidata/Relations/relation_labels_en.txt',encoding="utf-8") as f:
    for line in f:
        k, v = line.strip().split('\t')
        id2att[k.strip()] = v.strip()

In [21]:
id2ent['Q999608']

'Gabriel Caballero'

In [49]:
df_height = df[df['a']=='P2048']
df_height[df_height.v>2.0]

               e      a       v          name_e  name_a ent_type    minmax
768      Q130206  P2048  160.00   London Bridge  height  Q537127  0.016396
881      Q524908  P2048    2.11  Elden Campbell  height       Q5  0.000208
1716     Q970267  P2048    2.01     Don Meineke  height       Q5  0.000198
2234     Q984367  P2048    2.03      Jalen Rose  height       Q5  0.000200
2502        Q243  P2048  324.00    Eiffel Tower  height  Q570116  0.033211
...          ...    ...     ...             ...     ...      ...       ...
235087   Q456702  P2048    2.11     Troy Murphy  height       Q5  0.000208
235676   Q352114  P2048    2.03   Nicolas Batum  height       Q5  0.000200
235911  Q2408726  P2048    2.02   Žarko Varajić  height       Q5  0.000199
235941   Q939333  P2048    2.11    Dan Gadzuric  height       Q5  0.000208
235974  Q2355451  P2048    2.04    Jasmin Hukić  height       Q5  0.000201

[724 rows x 7 columns]

In [ ]:
df[df['e']=='Q145']

In [29]:
df_rel[df_rel['e']=='Q9682']
id2ent['Q145']

'United Kingdom'

In [60]:
#meanpredictor
att_group = df.groupby('a')
df['mean_predictor'] = att_group['v'].transform('mean')

In [62]:
df['mae']=df['mean_predictor'] - df['v']

In [89]:

list_var = ['P1082','P4010','P2299','P565','P570','P2046','P2032','P2031','P625_Latitude','P625_Longtiude','P2048']

In [78]:
att_pred = df.groupby('a')['mae'].aggregate(['mean','median'])

In [94]:
var_res = df[df['a'].isin(list_var)]

In [96]:
var_res.groupby('a')['mae'].aggregate(['mean'])

                        mean        median
a
P1082           0.000000e+00  9.172066e+05
P2031          -2.386617e-14 -5.920567e+00
P2032          -9.370551e-14 -7.396970e+00
P2046           5.326194e-05  7.337400e+11
P2048          -5.879330e-17  2.012972e+00
P2299           1.591616e-12  6.057906e+03
P4010           0.000000e+00  1.287222e+12
P570           -5.402939e-14 -5.283168e+01
P625_Latitude   3.215241e-15 -2.479288e+00
P625_Longtiude -1.708720e-16 -6.109336e+00