In [11]:
import pandas as pd
import numpy as np

In [41]:
result2000_old=pd.read_csv('../predicted_result_old/onlyATT_epoch200_preds_att_head.csv')
result20 = pd.read_csv('cons_gdp_epoch20_preds_att_head.csv')

In [ ]:
attri_data = pd.read_csv('/projekte/tcl/tclext/kgc/LiterallyWikidata/files_needed/numeric_literals_ver06')
attri_data_std = attri_data.loc[:,['e','a','std_v']]
attri_data = attri_data.loc[:,['e','a','v']]

In [9]:
with open('../LiterallyWikidata/files_needed/attribute.txt','r') as fr:
    attributes = [line.strip() for line in fr]

In [12]:
dict_att_2_idx = dict(zip(attributes, np.arange(0, len(attributes), 1)))

In [46]:
list_var=[pop_idx,gdp,gdp_per,date_of_birth,date_of_death,area,work_start,work_end]

In [13]:
## constraint needed:
pop_idx = dict_att_2_idx ['P1082']
gdp = dict_att_2_idx ['P4010']
nominal_gdp = dict_att_2_idx ['P2131']
nominal_gdp_per = dict_att_2_idx ['P2132']
gdp_per = dict_att_2_idx ['P2299']
date_of_birth = dict_att_2_idx ['P569']
date_of_death = dict_att_2_idx ['P570']
area = dict_att_2_idx['P2046']
work_end = dict_att_2_idx['P2032']
work_start = dict_att_2_idx['P2031']

In [27]:
r = result20[result20['pred_h']!=0.0]

In [33]:
r['mae']= abs(r.pred_h-r.target_h)

/projekte/tcl/tclext/kgc_chu/neuenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
r.loc[r.a.isin(list_var).index,:].sort_values(by='a')

         idx        e      a       pred_h  target_h          mae
20283  20283   2062.0    0.0  39375548.00   45670.0  39329878.00
11423  11423   2006.0    0.0  85792816.00   15742.0  85777074.00
1485    1485  20340.0    0.0  76870576.00   10330.0  76860246.00
20620  20620  36539.0    0.0   3057060.75    4413.0   3052647.75
2666    2666   7186.0    0.0  13136038.00  652556.0  12483482.00
...      ...      ...    ...          ...       ...          ...
20202  20202  18515.0  206.0  81487832.00    2019.0  81485813.00
21486  21486  18515.0  206.0  81487832.00    2019.0  81485813.00
9834    9834  18515.0  206.0  81487832.00    2019.0  81485813.00
3018    3018  18515.0  206.0  81487832.00    2019.0  81485813.00
9616    9616  18515.0  206.0  81487832.00    2019.0  81485813.00

[1814 rows x 6 columns]

In [37]:
r[r.a==gdp]

         idx        e     a        pred_h      target_h           mae
3696    3696  54283.0  25.0  4.165240e+09  9.332777e+11  9.291124e+11
11240  11240  54283.0  25.0  4.165240e+09  9.332777e+11  9.291124e+11
18961  18961  54283.0  25.0  4.165240e+09  9.332777e+11  9.291124e+11

In [45]:
result2000_old[result2000_old.pred_h!=0.0]

         idx        e     a         pred_h      target_h
699      699   2999.0  29.0   20406.427734  1.921113e-08
835      835   3463.0  29.0   29190.705078  2.374571e-08
1020    1020   4308.0  29.0   46978.144531  1.938870e-08
1503    1503   5711.0  29.0   28720.048828  1.753016e-08
1512    1512   5746.0  29.0   49177.285156  2.281322e-08
...      ...      ...   ...            ...           ...
17866  17866  58466.0  29.0   33123.652344  2.017169e-08
17943  17943  58732.0  29.0  157587.265625  2.161252e-08
17972  17972  58794.0  29.0   46035.265625  2.785614e-08
18111  18111  59364.0  29.0   27806.841797  1.993155e-08
19078  19078  23957.0  29.0    8596.157227  1.921113e-08

[140 rows x 5 columns]